*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_1:#dbd8e3;
    --color_2:#E6E6E6;
    --color_3:#F3F3F3;
    --color_4:#7aafff;
   
}
body{
    background:var(--color_2);
    font-family: monospace;
}
.highlight{
    background-color: yellow;
    color: black;
}
/*Heading bar*/
#heading_bar{
    height: 50px;
    width: 100dvw;
    background-color:var(--color_4) ;
    position: fixed;
    display: flex;
    text-transform: capitalize;
    z-index: 1;
    padding: 4px;
    border-bottom: 1px solid white;
}
#heading_bar h2{
    padding-right: 5px;
    padding: 4px 10px;
    height: 40px;
    border-radius: 6px;
}
ul{
    list-style: none;
    
}
ul li{
    display:inline-block
}
.heding_list{
    align-items: center;
    height: 50px;
}
.heding_list li button{
    padding: 0;
    height: 40px;    
    width: 40px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    transition:.3s linear;
}
.heding_list li button:hover{
    background-color: #c0c0c0;
    border-radius: 4px;
}
#header_menu{
    height: 80px;
    width: 100dvw;
    background-color: var(--color_3);
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    color: white;
    border-bottom: 3px solid #c0c0c0;
}
#box{
    float: left;
}
/*clip board*/
.clipboard{
    width: 160px;
    height: 78px;
    position: relative;
   text-align: center;
   padding-top: 10px;
   padding-left: 5px;
   justify-content: center;
   border-right: 1px solid #c0c0c0;
}
.clipboard ul{
    list-style: none;
}
.clipboard ul li{
    display: inline-block;
}
.clipboard ul li button{
    border-radius: 4px;
    width: 40px;
    transition:.3s linear;
}
.clipboard ul li button:hover{
    background-color: #c0c0c0;
}
.but{
    height: 50px;
    width: 30px;
    padding:none;
    font-size: 25px;
    border: none; 
    background-color: transparent;
}
.font_area{
    height: 78px;
    width: auto;
    border-right: 1px solid #c0c0c0;
    padding: 7px 10px;
    text-align: center;
}
.font_area .font_style{
    list-style-type: none;
}
.font_area .font_style li{
    display: inline-block;
    
}
.font_area button{
    height:25px;
    width: 25px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.font_area button:hover{
    background-color: #c0c0c0;
}
.drop{
    height: 25px;
    border: none;
    border-radius: 4px;
}
.drop option{
    background-color: var(--color_3);
    border:none;
    border-radius: 0px;
}
#ffamily{
    width: 124px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}
#fsize{
    width: 60px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}
.f_second{
    margin-top: 10px;
}
.adv-option-button{
    width: 15px;
    height: 15px;
    border: none;
    display: none;
}
#f_col_button::after{
    content: " ";
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;
    margin-top: -3px;
}
#highlighter{
    background-color: yellow;
    color: black;
    border-radius: 2px;
}
#highlighter:hover{
    background-color: limegreen;
}
.f_area{
    width: 150px; 
}
.paragraph{
    height: 78px;
    width:200px ;
    border-right: 1px solid #c0c0c0;
    text-align: center;
}
.paragraph ul{
    list-style-type: none;
}
.paragraph ul li{
    display: inline-block;
   
}
.paragraph button{
    width: 35px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}
.paragraph button:hover{
    background-color: #c0c0c0;
}
.paragraph .li_1{
    margin-top: 5px;
}
.paragraph .li_2{
    margin-top: 7px;
}
.left{
    height: 22px;
    width: 25px;
    margin-left: 6px;
    background-color: transparent;
}
.left::after{
    content: '    ';
    height: 7.5px;
    width: 11px;
    margin-top: 1px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    background:transparent;
    position: absolute;
}
.left::before{
    content: " ";
    position: absolute;
    height: 6px;
    width: 22px;
    background-color:transparent;
    margin-top: 7px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}
.centre{
    height: 22px;
    width: 25px;
    margin-left: 6px;
    background-color:transparent;
}
.centre::after{
    content: '    ';
    height: 7.5px;
    width: 11px;
    margin-top: 1px;
    margin-left: -5.5px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    background:transparent;
    position: absolute;
}
.centre::before{
    content: " ";
    position: absolute;
    height: 6px;
    width: 22px;
    background-color:transparent;
    margin-top: 7px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0,0,0);
}
.right{
    height: 22px;
    width: 25px;
    margin-left: 6px;
    background-color:transparent;
}
.right::after{
    content: '    ';
    height: 7.5px;
    width: 11px;
    margin-top: 1px;
    margin-left: 0px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    background:transparent;
    position: absolute;
}
.right::before{
    content: " ";
    position: absolute;
    height: 6px;
    width: 22px;
    background-color:transparent;
    margin-top: 7px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}
.just{
    height: 22px;
    width: 25px;
    margin-left: 6px;
    background-color: transparent;
}
.just::after{
    content: '    ';
    height: 7.5px;
    width: 22px;
    margin-top: 1px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    background:transparent;
    position: absolute;
}
.just::before{
    content: " ";
    position: absolute;
    height: 6px;
    width: 22px;
    background-color:transparent;
    margin-top: 7px;
    margin-left: -11px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}


.insert{
    height: 78px;
    width: 240px;
    border-right: 1px solid #c0c0c0;
    padding: 3px 7px;
    display: flex;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    height: 40px;
    width: 80px;
}
img{
    height: auto;
    width: auto;
    max-width: 50dvw;
    max-height: 50dvh;
    color: black;
}
#upload{
    height: 70px;
    width: 49px;
    align-items: center;
    padding: 2px 4.5px;
    border-radius: 4px;
    border: none;
    transition: .6s ease-out;
    margin-left: 2px;
}
#upload:hover{
    background-color: gray;
}
#upload .frame{
    height: 48px;
    width: 40px;
    border:1px solid black;
    border-radius: 2px;
    background-color: rgb(127, 185, 255);
    z-index: 99;
}
#upload .frame .internal_picture{
    height: 24px;
    width: 30px;
    background-color: rgb(109, 28, 28);
    margin-top: 22.5px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#upload .frame .internal_picture::after{
    content: ' ';
    position: absolute;
    height: 19px;
    width: 18px;
    border-bottom-right-radius: 1px;
    background-color: rgb(153, 50, 3);
    margin-left: 5.37px;
    margin-top: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#upload .frame .internal_picture::before{
    content: ' ';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(255, 208, 0);
    margin-left: 10px;
    margin-top: -15px;
    border-radius: 50%;
}
#upload h6{
    margin-top: 2px;
    margin-left: -2px;
    font-size: 10px;
}


#insertTableButton{
    height: 70px;
    width: 49px;
    align-items: center;
    padding: 6px 4px;
    border-radius: 4px;
    font-family: sans-serif;
    border: none;
    transition: .6s ease-out;
    background: none;
    margin-top: 0px;
    margin-left: 8px;
}
#insertTableButton:hover{
    background-color: #c0c0c0;
}
#insertTableButton .tablebox{
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
#insertTableButton .tablebox::after{
    content: " ";
    position: absolute;
    height: 8px;
    width: 40px;
    margin-left: -20px;
    margin-top: -30px;
    background-color: black;
}
#insertTableButton .tableLines{
    height: 10px;
    width: 39px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 18px;
}
#insertTableButton .tableLines::before{
    content: ' ';
    position: absolute;
    height: 15px;
    width: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -8px;
    margin-left: -20px;
    transform: rotate(90deg);
}
#insertTableButton h6{
    margin-top: 7px;
    margin-left: -2px;
    font-size: 10px;
}
#colorButton{
    height:70px ;
    width: 48px;
    padding-left: 6px;
    padding-top: 2px;
    margin-left: 8px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    transition: .6s ease-out;
}
#colorButton:hover{
    background-color: #c0c0c0;
}
.page{
    width: 36px;
    height: 46px;
    background-color: rgb(215, 243, 243);
}
.page::after{
    content: " ";
    position: absolute;
    margin-left: 8.2px;
    margin-top: 2.8px;
    transform: rotate(-135deg);
    border-style: solid;
    border-width: 0 4.9px 4.9px 4.9px;
    border-color: transparent transparent ghostwhite transparent;  
}
.page::before{
    content: " ";
    position: absolute;
    margin-left: 11.62px;
    margin-top: -0.8px;
    transform: rotate(45deg);
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--color_3) transparent;
    transition:.6s ease-out;
}
.page:hover::before{
    border-color: transparent transparent #c0c0c0 transparent;
}
.bucket{
    height: 18px;
    width: 12px;
    background-color: rgb(84, 84, 84);
    transform: rotate(36deg);
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bucket::before{
    content: " ";
    position: absolute;
    height: 2px;
    width: 12px;
    background-color: blue;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 3300%;
}
#colorButton h6{
    margin-top: 7px;
    font-size: 10px;
    margin-left: -2px;
}
#colorInput{
    display: none;
}


#addBorderButton{
    height:70px ;
    width: 48px;
    padding-left: 6.5px;
    padding-top: 3px;
    margin-left: 8px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    transition: .6s ease-out;
}
#addBorderButton:hover{
    background-color: #c0c0c0;
}
.border_page{
    width: 36px;
    height: 46px;
    background-color: rgb(0, 162, 255);
    padding-top: 2px;
}
.border_page::after{
    content: " ";
    position: absolute;
    margin-left: 8.2px;
    margin-top: -40px;
    transform: rotate(-135deg);
    border-style: solid;
    border-width: 0 4.9px 4.9px 4.9px;
    border-color: transparent transparent #ffffff transparent;  
}
.border_page::before{
    content: " ";
    position: absolute;
    margin-left: 11.42px;
    margin-top: -2.8px;
    transform: rotate(45deg);
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--color_3) transparent;
    transition:.6s ease-out;
}
.border_page:hover::before{
    border-color: transparent transparent #c0c0c0 transparent;
}
.border{
    height: 40px;
    width: 30px;
    border: 1px solid red;
    z-index: 99;
    margin-left: 2px;
}
#addBorderButton h6{
    margin-top: 5px;
    font-size: 10px;
}
  
.orientation{
    width: 300px;
    height: 78px;
    border-right: 1px solid #c0c0c0;
    padding: 5px 10px;
    display: flex;
}
#marginButton{
    height: 70px;
    width: 45px;
    background-color: transparent;
    border-radius: 4px;
    padding: 4px 4px;
    border: none;
    font-size: 10px;
}
#marginButton:hover{
    background-color: #c0c0c0;
}
.marginPage{
    height: 50px;
    width: 35px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid black;
}
.marginPage::after{
    content: ' ';
    position: absolute;
    height: 49px;
    width: 26px;
    border-left: 1px red solid;
    border-right: 1px red solid;
    margin-left: -14px;
}
.marginPage::before{
    content: ' ';
    position: absolute;
    height: 40px;
    width: 35px;
    border-top:1px red solid;
    border-bottom: 1px red solid;
    margin-top: 4px;
    margin-left: -17.5px;
}
#portrait{
    height: 70px;
    width: 50px;
    border:none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 20px;
}
#portrait:hover{
    background-color: #c0c0c0;
}
#portrait p{
    font-size: 10px;
    margin-top: 2px;
}
.portrait_icon{
    font-size: 40px;
    margin-left: 0px;
    margin-top: -6px;
}
#landscape{
    height: 70px;
    width: 50px;
    border:none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 20px;
}
#landscape:hover{
    background-color: #c0c0c0;
}
#landscape p{
    font-size: 9px;
    margin-top: 2px;
}
.landscape_icon{
    font-size: 40px;
    margin-left: -2px;
    margin-top: -10px;
}
#size-menu {
    background-color: var(--color_3);
    height: 70px;
    width: 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    list-style-type: none;
    margin-left: 10px;
    padding:0;
    display: flex;
    font-family: sans-serif;
    text-align: center;
    color: #000;
}
#size-menu li {
    position: relative;
}
#size-menu h4{
    display: block;
    margin-top:0px;
    height: 30px;
    width: 80px;
    padding-top: 5px;
    margin-left: 0;
    font-size: 40px;
    color: #000000;
    text-decoration: none;
}
#size-menu  span{
    font-size: 10px;
    margin-left: -50px;
    margin-top: 55px;
}
#size-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color_3);
    list-style-type: none;
    margin-top:px;
    padding: 0;
    display: none;
}


#size-menu ul li {
    display: block;
}


#size-menu ul button{
    width: 80px;
    height: 40px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: .4s linear;
}
#size-menu ul button:hover{
    background-color: #c0c0c0;
    border-bottom: 1px solid black;
}
#size-menu:hover{
    background-color: #c0c0c0;
}
#size-menu li:hover > ul {
    display: block;
}


.find_text{
    height: 78px;
    width: 100px;
    float: right;
    border-left: 1px solid #c0c0c0;
    color: black;
    padding: 5px 5px;
}
.find_text button{
    text-align: left;
    background-color: transparent;
    height: 20px;
    width: 70px;
    font-size: 14px;
    border: transparent;
    transition: .7s ease;
}
.find_text button:hover{
    background-color: #c0c0c0;
    
}
#textArea{
    position: absolute;
    width:595px;
    min-height: 842px;
    margin: auto 445px;
    margin-top: 140px;
    padding: 80px 80px;
    background-color: white;
    border: solid 1px rgb(219, 219, 219);
}
#foot{
    height: 30px;
    width: 100%;
    background-color:var(--color_3);
    position: fixed;
    top: 100%;
    transform: translate(-0%,-100%);
    z-index: 99;
    border-top:1px solid #c0c0c0;
}
.w-counter{
    float: left;
    height: 30px;
    padding: 5px 10px;
    width: auto;
    border-right: 1px solid #c0c0c0;
}