*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#dbe6ef9f;
    font-family: monospace;
}
#heading_bar{
    height: 40px;
    width: 100dvw;
    background-color: #bac4cc;
    position: fixed;
    display: flex;
    text-transform: capitalize;
    z-index: 1;
    border-bottom: 1px solid black;
}
#heading_bar h2{
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 5px;
    padding: 8px 10px;
    height: 40px;
}
ul{
    list-style: none;
    
}
ul li{
    display:inline-block
}
.heding_list{
    padding: 8px 10px;
    margin-left: 10px;
    margin-top: -5px;
}
.heding_list li button{
    padding: 0;
    height: 30px;    
    width: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}


#header_menu{
    height: 70px;
    width: 100dvw;
    background-color: #bac4cc;
    position: fixed;
    margin-top: 40px;
    border-bottom: 1px solid black;
    z-index: 1;
}
#box{
    float: left;
}
.clipboard{
    width: 120px;
    height: 70px;
    position: relative;
   text-align: center;
   padding-top: 10px;
   justify-content: center;
   border-right: 1px solid black;

}
.clipboard ul{
    list-style: none;
}
.clipboard ul li{
    display: inline-block;
}
#save,#open{
    height: 30px;
    width: 30px;
    padding:none;
    font-size: 20px;
    border-radius: 6px;
    border: none;

}
.but{
    height: 50px;
    width: 30px;
    padding:none;
    font-size: 25px;
    border: none; 
    background-color: transparent;
}
.clipboard h4{
    color: white;
    padding-top: 6px;
}

.font_area{
    height: 70px;
    width: 150px;
    border-right: 1px solid black;
    padding: 7px 10px;
    text-align: center;
}
.font_area h4{
    color: white;
    padding-top: 6px;
}
.font_area .font_style{
    list-style-type: none;
}
.font_area .font_style li{
    display: inline-block;
    
}
.font_area button{
    height:25px;
    width: 25px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.drop{
    height: 25px;
    border: none;
    border-radius: 4px;
}
#ffamily{
    width: 124px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0px;
}
#fsize{
    width: 60px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0px;
}
.f_second{
    margin-top: 3px;
}

.f_area{
    width: 150px;
    
}
.f_third button{
    height: 25px;
    width: 30px;
    background-color: transparent;
    margin-top: 2px;
    
}



.paragraph{
    height: 70px;
    width:150px ;
    border-right: 1px solid black;
    text-align: center;
}
.paragraph ul{
    list-style-type: none;
}
.paragraph ul li{
    display: inline-block;
   
}
.paragraph button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}
.paragraph .li_2{
    margin-top: 4px;
}

.paragraph .adv-option-button{
    width: 15px;
    height: 15px;
    border: none;
    

}
.save{
    height: 100px;
    width: 120px;
    border-right: 1px solid black;
    text-align: center;
    padding: 10px 10px;
}
.save h4{
    color: white;
    padding-top: 16px;
}
.save ul{
    list-style: none;
}
.save ul li{
    display: inline-block;
}
.insert{
    height: 70px;
    width: 100px;
    border-right: 1px solid black;
    padding: 1px 7px;
    display: flex;
}

.insert button{
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    font-size: 40px;
    
} 
  
table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    height: 40px;
    width: 80px;
  }
img{
    height: auto;
    width: auto;
    max-width: 50dvw;
    max-height: 50dvh;
}
#insertTableButton{
    padding-top: 13px;
    margin-left: 5px;
}
#insertTableButton img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
#textArea{
    position: absolute;
    width: 60dvw;
    min-height: 80dvh;
    margin: auto 285px;
    margin-bottom: 20px;
    margin-top: 130px;
    padding: 80px 80px;
    background-color: white;
    border: solid 1px rgb(219, 219, 219);
    box-shadow:
  0 -3.6px 5.1px -65px rgba(0, 0, 0, 0.022),
  0 -4.8px 12.2px -65px rgba(0, 0, 0, 0.027),
  0 -2.7px 23px -65px rgba(0, 0, 0, 0.031),
  0 5.1px 41.1px -65px rgba(0, 0, 0, 0.039),
  0 24.4px 76.9px -65px rgba(0, 0, 0, 0.056),
  0 79px 184px -65px rgba(0, 0, 0, 0.1);
}
