*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#005cac9f;
    font-family: monospace;
}

html{
    scroll-behavior: smooth;
}
button:hover{
    background-color: rgb(105, 182, 234);
}
#toolbar{
    height: 100px;
    width: auto;
    min-width: 100dvw;
    border: none;
    background: linear-gradient(90deg, #005aa7 0%, #b7efee 100%);
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid black;
}
#box{
    float: left;
}
.clipboard{
    width: 150px;
    height: 100px;
    position: relative;
   text-align: center;
   padding-top: 10px;
   justify-content: center;
   border-right: 1px solid black;
}
.clipboard ul{
    list-style: none;
    
    
    
}
.clipboard ul li{
    display: inline-block;
}
.but,#save,#open{
    height: 50px;
    width: 40px;
    padding:none;
    font-size: 20px;
    border-radius: 6px;
    border: none;

}
.clipboard h4{
    color: white;
    padding-top: 16px;
}

.font_area{
    height: 100px;
    width: 280px;
    border-right: 1px solid black;
    padding: 7px 10px;
    text-align: center;
    

    
}
.font_area h4{
    color: white;
    padding-top: 6px;
}
.font_area .font_style{
    list-style-type: none;
}
.font_area .font_style li{
    display: inline-block;
    
}
.font_area button{
    height:30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
}
.drop{
    height: 30px;
    border: none;
    border-radius: 4px;
}
.f_second{
    margin-top: 5px;
}


.paragraph{
    height: 100px;
    width:250px ;
    border-right: 1px solid black;
    padding:10px 10px;
    text-align: center;
}
.paragraph ul{
    list-style-type: none;
}
.paragraph ul li{
    display: inline-block;
   
}
.paragraph button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}
.paragraph .li_2{
    margin-top: 4px;
}

.paragraph h4{
    color: white;
    padding-top: 3px;
}
.paragraph .adv-option-button{
    width: 15px;
    height: 15px;
    border: none;
    

}
.save{
    height: 100px;
    width: 120px;
    border-right: 1px solid black;
    text-align: center;
    padding: 10px 10px;
}
.save h4{
    color: white;
    padding-top: 16px;
}
.save ul{
    list-style: none;
}
.save ul li{
    display: inline-block;
}

#textArea{
    position: absolute;
    width: 60dvw;
    min-height: 80dvh;
    margin: auto 285px;
    margin-bottom: 20px;
    margin-top: 130px;
    padding: 80px 80px;
    background-color: white;
    border: solid 1px rgb(219, 219, 219);
    box-shadow:
  0 -3.6px 5.1px -65px rgba(0, 0, 0, 0.022),
  0 -4.8px 12.2px -65px rgba(0, 0, 0, 0.027),
  0 -2.7px 23px -65px rgba(0, 0, 0, 0.031),
  0 5.1px 41.1px -65px rgba(0, 0, 0, 0.039),
  0 24.4px 76.9px -65px rgba(0, 0, 0, 0.056),
  0 79px 184px -65px rgba(0, 0, 0, 0.1);
}
